<form class="spao" autocomplete="off">
    <div class="charater-sheet-grid">

        <!-- RETRATO -->
        <img class="portrait" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <!-- INFORMAÇÕES-->
        <div class="character-sheet-section-name">

            <!-- INFORMAÇÕES: NOME -->
            <input class="name-input" type="text" name="name" value="{{data.name}}"
                placeholder="{{ localize 'SPAO.Name' }}" />

            <!-- INFORMAÇÕES: ANTECEDENTE -->
            <input class="background-input" type="text" name="system.background" value="{{data.system.background}}"
                placeholder="{{ localize 'SPAO.Background' }}" />

            <!-- INFORMAÇÕES: VIDA, ARMADURA, FOCO, MOVIMENTO E ATRIBUTOS-->
            <div class="character-sheet-2col">
                <div class="character-sheet-section-derived">

                    <!-- VIDA -->
                    <div class="resource-counter hp-counter">
                        <label for="system.hp.value">{{ localize 'SPAO.HP' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.hp.value" id="system.hp.value"
                                value="{{data.system.hp.value}}" data-dtype="Number" />
                            <span> / </span>
                            <input type="text" name="system.hp.max" value="{{data.system.hp.max}}" data-dtype="Number"
                                readonly />
                        </div>
                    </div>

                    <!-- ARMADURA -->
                    <div class="resource-counter hp-counter">
                        <label for="system.armor.value">{{ localize 'SPAO.Armor' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.armor.value" id="system.armor.value"
                                value="{{data.system.armor.value}}" data-dtype="Number" />
                        </div>
                    </div>

                    <!-- FOCO -->
                    <div class="resource-counter hp-counter">
                        <label for="system.focus.value">{{ localize 'SPAO.Focus' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.focus.value" id="system.focus.value"
                                value="{{data.system.focus.value}}" data-dtype="Number" />
                            <span> / </span>
                            <input type="text" name="system.focus.max" value="{{data.system.focus.max}}"
                                data-dtype="Number" readonly />
                        </div>
                    </div>

                    <!-- MOVIMENTO -->
                    <div class="resource-counter hp-counter">
                        <label for="system.movement.value">{{ localize 'SPAO.Movement' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.movement.value" id="system.movement.value"
                                value="{{data.system.movement.value}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>

                <!-- ATRIBUTOS -->
                <div class="character-sheet-section-abilities">
                    {{#each data.system.abilities as |ability key|}}
                    <div class="resource-counter hp-counter">
                        <label><a class="attribute-roll" data-abilities="{{key}}" for="system.abilities.{{key}}.value">{{localize (concat 'SPAO.' key)}}</a></label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>

    <!-- COMBATE -->
    <div class="resource-quick-action">
        <div class="resource-title"><label>{{ localize 'SPAO.Combat' }}</label></div>

        <div class="resource-quick-action-item">
            {{#each actor.items as |item|}}
            {{#if (eq item.type "arma")}}
            {{#if (eq item.system.equipped true)}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class='item-image'>
                    <a class='attack-roll' data-roll-type='item'>
                        <img src='{{item.img}}' title='{{item.name}}' />
                    </a>
                </div>
            </li>
            {{/if}}
            {{/if}}
            {{/each}}
        </div>
    </div>

    <!-- TABS -->
    <div class="character-sheet-section-tabs">

        <!-- TABS: NAV HEADER -->
        <nav class="tabs" data-group="primary">
            <a class="item" data-group="primary" data-tab="skills">{{ localize 'SPAO.Skills' }}</a>
            <a class="item" data-group="primary" data-tab="talents">{{ localize 'SPAO.Talents' }}</a>
            <a class="item" data-group="primary" data-tab="magic">{{ localize 'SPAO.Magic' }}</a>
            <a class="item" data-group="primary" data-tab="inventory">{{ localize 'SPAO.Inventory' }}</a>
            <a class="item" data-group="primary" data-tab="notes">{{ localize 'SPAO.Notes' }}</a>
        </nav>


        <section class="content">

            <!-- TABS: SKILLS -->
            <div class="tab" data-group="primary" data-tab="skills">
                {{> "systems/spao/templates/actor/parts/actor-skills.html"}}
            </div>

            <!-- TABS: TALENTS -->
            <div class="tab" data-group="primary" data-tab="talents">
                {{> "systems/spao/templates/actor/parts/actor-talents.html"}}
            </div>

            <!-- TABS: MAGIC -->
            <div class="tab" data-group="primary" data-tab="magic">
                {{> "systems/spao/templates/actor/parts/actor-magic.html"}}
            </div>

            <!-- TABS: INVENTORY -->
            <div class="tab" data-group="primary" data-tab="inventory">
                {{> "systems/spao/templates/actor/parts/actor-inventory.html"}}
            </div>

            <!-- TABS: NOTES -->
            <div class="tab" data-group="primary" data-tab="notes">
                {{ editor enrichedNotes target="system.notes" button=true owner=owner editable=editable
                engine="prosemirror" collaborate=true }}
            </div>
        </section>
    </div>
</form>