<div class="spao chat-card">

    <!-- NOME -->
    <div class="resource-title"><label>{{name}}</label></div>

    <!-- ATAQUE -->
    <div class="chat-attack-section">
        <div class="chat-attack-roll-margin">
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{attackRoll.formula}}</div>
                    <div class="dice-tooltip chat-attack-tooltip">
                        <section class="tooltip-part">
                            <div class="dice">
                                <header class="part-header flexrow">
                                    <span class="part-formula">{{attackRoll.formula}}</span>
                                </header>
                                <ol class="dice-rolls">
                                    {{#each attackRoll.dice}}
                                    {{#each this.results}}
                                    <li class="roll die d{{../faces}}">{{result}}</li>
                                    {{/each}}
                                    {{/each}}
                                </ol>
                            </div>
                        </section>
                        {{#if attackRoll.modifiers}}
                        <section class="tooltip-part">
                            <div class="dice">
                                <header class="part-header flexrow">
                                    <span class="part-formula">Modificadores</span>
                                </header>
                                <ul class="dice-modifiers">
                                    {{#each attackRoll.modifiers}}
                                    <li><strong>{{this.name}}:</strong> {{this.value}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </section>
                        {{/if}}
                    </div>
                    <h4 class="dice-total ${resultClass} expandable {{resultClass}}" data-target="attack-details">
                        {{attackTotal}}
                    </h4>
                </div>
            </div>
            
            <!-- Detalhes do ataque (inicialmente ocultos) -->
            <div id="attack-details" class="roll-details chat-attack-roll-details">
                <div class="chat-attack-detail-title"><strong>Detalhes do Ataque:</strong></div>
                <div class="chat-attack-detail-item">Rolagem:
                    {{#each attackRoll.dice}}
                    {{#each this.results}}
                    <span class="chat-attack-die-result">{{result}}</span>
                    {{/each}}
                    {{/each}}
                </div>
                <div class="chat-attack-detail-item">Atributo ({{itemAttribute}}): <strong>+{{attributeValue}}</strong>
                </div>
                <div class="chat-attack-detail-item">Proficiência: <strong>{{itemProficiency}}</strong></div>
                <div class="chat-attack-detail-item">Total: <strong>{{attackTotal}}</strong></div>
            </div>
        </div>
    </div>

    <!-- DANO -->
    {{#if isSuccess}}
    <div class="chat-attack-section">
        <div class="chat-attack-damage-title"><strong>DANO</strong></div>
        <div class="chat-attack-roll-margin">
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{damageRoll.formula}}</div>
                    <div class="dice-tooltip chat-attack-tooltip">
                        <section class="tooltip-part">
                            <div class="dice">
                                <header class="part-header flexrow">
                                    <span class="part-formula">{{damageRoll.formula}}</span>
                                </header>
                                <ol class="dice-rolls">
                                    {{#each damageRoll.dice}}
                                    {{#each this.results}}
                                    <li class="roll die d{{../faces}}">{{result}}</li>
                                    {{/each}}
                                    {{/each}}
                                </ol>
                            </div>
                        </section>
                    </div>
                    <h4 class="dice-total expandable" data-target="damage-details">
                        {{damageRoll.total}} 
                        <!-- {{damageRoll.total}} <span class="chat-attack-damage-type">{{damageType}}</span> -->
                    </h4>
                </div>
            </div>
            <!-- Detalhes do dano (inicialmente ocultos) -->
            <div id="damage-details" class="roll-details chat-attack-roll-details">
                <div class="chat-attack-detail-title"><strong>Detalhes do Dano:</strong></div>
                <div class="chat-attack-detail-item">Dados: {{damageRoll.formula}}</div>
                <div class="chat-attack-detail-item">Rolagens:
                    {{#each damageRoll.dice}}
                    {{#each this.results}}
                    <span class="chat-attack-die-result">{{result}}</span>
                    {{/each}}
                    {{/each}}
                </div>
                <div class="chat-attack-detail-item">Total: <strong>{{damageRoll.total}}</strong></div>
            </div>
        </div>
    </div>
    {{/if}}

    <!-- DETALHES -->
    <div class="chat-attack-footer">
        <div class="chat-attack-footer-content">
            <strong>Range:</strong> Melee (5 ft)<br />
            <strong>Tipo:</strong> {{damageType}}<br />
            <strong>Alvo:</strong> {{targetActor?.name}} (CA: {{targetArmor}})
        </div>
    </div>
</div>