<div class="spao chat-card">

    <div class="resource-title"><label>{{name}}</label></div>

    <div style="padding: 8px; border-bottom: 1px solid #ddd;">
        <div style="margin: 5px 0;">
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{attackRoll.formula}}</div>
                    <div class="dice-tooltip" style="display: none;">
                        <section class="tooltip-part">
                            <div class="dice">
                                <header class="part-header flexrow">
                                    <span class="part-formula">{{attackRoll.formula}}</span>
                                </header>
                                <ol class="dice-rolls">
                                    <li class="roll die d20">{{rolledValue}}</li>
                                </ol>
                            </div>
                        </section>
                    </div>
                    <h4 class="dice-total ${resultClass}">
                        {{attackTotal}}
                    </h4>
                </div>
            </div>
        </div>
    </div>

    {{#if isSuccess}}
    <div style="padding: 8px; border-bottom: 1px solid #ddd;">
        <div><strong>DANO</strong></div>
        <div style="margin: 5px 0;">
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{damageRoll.formula}}</div>
                    <div class="dice-tooltip" style="display: none;">
                        <section class="tooltip-part">
                            <div class="dice">
                                <header class="part-header flexrow">
                                    <span class="part-formula">{{damageRoll.formula}}</span>
                                </header>
                                <!-- <ol class="dice-rolls">
                                    ${damageRoll.dice.map(die =>
                                    die.results.map(result =>
                                    `<li class="roll die d${die.faces}">${result.result}</li>`
                                    ).join('')
                                    ).join('')}
                                </ol> -->
                            </div>
                        </section>
                    </div>
                    <h4 class="dice-total">{{damageRoll.total}} <span style="font-size: 0.8em;">{{damageType}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <div style="padding: 8px; background: #eee; border-top: 1px solid #ddd;">
        <div><small>
                <strong>Range:</strong> Melee (5 ft)<br />
                <strong>Tipo:</strong> {{damageType}}<br />
                <strong>Alvo:</strong> {{targetActor?.name}} (CA: {{targetArmor}})
            </small></div>
    </div>
</div>