<div class="spao chat-card">

    <!-- NOME -->
    <div class="resource-title send-item-tochat">
        <div class="inventory-item-image">
            <img class="send-item" src="{{itemImage}}" title="{{name}}" />
        </div>

        <div class="resource-title"><label>{{name}}</label></div>

    </div>

    <!-- DETALHES -->
    <div class="chat-attack-footer">

        {{#if hasContent}}
        <div id="damage-details" class="roll-details chat-magic-roll-details">
            <!-- <div class="chat-attack-detail-title"><strong>Informações</strong></div> -->

            {{#if itemTradition}}
            <div class="chat-attack-detail-item"><strong>Tradição:</strong> {{itemTradition}}</div>
            {{/if}}

            {{#if itemCastTime}}
            <div class="chat-attack-detail-item"><strong>Tempo de Conjuração:</strong> {{itemCastTime}}</div>
            {{/if}}

            {{#if itemRange}}
            <div class="chat-attack-detail-item"><strong>Alcance:</strong> {{itemRange}}</div>
            {{/if}}

            {{#if itemTargets}}
            <div class="chat-attack-detail-item"><strong>Alvos:</strong> {{itemTargets}} alvos</div>
            {{/if}}

            {{#if itemSave}}
            <div class="chat-attack-detail-item"><strong>Defesa:</strong> {{itemSave}}</div>
            {{/if}}

            {{#if itemDuration}}
            <div class="chat-attack-detail-item"><strong>Duração:</strong> {{itemDuration}}</div>
            {{/if}}

        </div>

        <div class="chat-attack-footer-content">
            {{itemDescription}}
        </div>

        <div class="chat-attack-buttons">
            {{#if itemSave}}
            <button class="magic-button magic-save" data-item-id="{{itemId}}" data-actor-id="{{actorId}}">
                <i class="fas fa-magic"></i> Salvar contra Magia
            </button>
            {{/if}}

            {{#if itemAttack}}
            <button class="magic-button magic-attack" data-item-id="{{itemId}}" data-actor-id="{{actorId}}">
                <i class="fas fa-magic"></i> Atacar
            </button>
            {{/if}}
            {{/if}}
        </div>

        {{#unless hasContent}}
        <div class="no-magic-message">
            <p>Configure a magia antes de castar.</p>
        </div>
        {{/unless}}
    </div>
</div>