<form class="spao" autocomplete="off">
    <div class="item-sheet-grid armadura">
        <div class="item-sheet-grid-sections">
            <!-- Portrait -->
            <div class="item-sheet-section-portrait">
                <img class="portrait" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
            </div>

            <!-- INFORMATION -->
            <div class="item-sheet-section-info">
                <!-- Name -->
                <div class="item-sheet-section-name">
                    <input class="item-sheet-name" type="text" name="name" value="{{data.name}}"
                        placeholder="{{ localize 'SPAO.Name' }}" />
                </div>

                <div class="item-sheet-section-stats">
                    <!-- Equipped -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.equipped">{{ localize 'SPAO.Equipped' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="checkbox" {{checked data.system.equipped}} name="system.equipped"
                                id="system.equipped" value="{{data.system.equipped}}" data-dtype="Boolean" />
                        </div>
                    </div>

                    <!-- Cost -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.cost">{{ localize 'SPAO.Cost' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.cost" id="system.cost"
                                value="{{data.system.cost}}" data-dtype="Number" />
                        </div>
                    </div>

                    <!-- Armor -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.armor">{{ localize 'SPAO.Armor' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.armor" id="system.armor"
                                value="{{data.system.armor}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="description">{{ localize 'SPAO.Description' }}</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor enrichedDescription target="system.description" button=true owner=owner editable=editable
                    engine="prosemirror" collaborate=true }}
                </div>
            </section>
        </div>
    </div>
</form>