<form class="spao item-sheet" autocomplete="off">
    <header class="item-header">
        <!-- Portrait -->
        <img class="item-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />


        <!-- Name -->
        <div class="item-name">
            <input class="item-sheet-name" type="text" name="name" value="{{data.name}}"
                placeholder="{{ localize 'SPAO.Name' }}" />
        </div>
    </header>

    <section class="item-body">
        <!-- Left Side details -->
        <div class="item-summary">

            <!-- Adicionar na quickbar -->
            <div class="item-resource-counter short-counter">
                <label class="item-sheet-resource-label" for="system.quickbar">{{ localize 'SPAO.Quickbar'
                    }}</label>
                <div class="resource-input-wrapper">
                    <input type="checkbox" {{checked data.system.quickbar}} name="system.quickbar" id="system.quickbar"
                        value="{{data.system.quickbar}}" data-dtype="Boolean" />
                </div>
            </div>

            <!-- Equipped -->
            <div class="item-resource-counter short-counter">
                <label class="item-sheet-resource-label" for="system.equipped">{{ localize 'SPAO.Equipped'
                    }}</label>
                <div class="resource-input-wrapper">
                    <input type="checkbox" {{checked data.system.equipped}} name="system.equipped" id="system.equipped"
                        value="{{data.system.equipped}}" data-dtype="Boolean" {{ disabled (not item.system.isEquipable)
                        }} />
                </div>
            </div>

            <!-- Cost -->
            <div class="item-resource-counter short-counter">
                <label class="item-sheet-resource-label" for="system.cost.value">{{ localize 'SPAO.Cost'
                    }}</label>
                <div class="resource-input-wrapper">
                    <input type="text" name="system.cost.value" id="system.cost.value"
                        value="{{data.system.cost.value}}" data-dtype="Number" />
                </div>
            </div>

        </div>

        <div class="item-content">
            <div class="character-sheet-section-tabs">

                <!-- TABS: NAV HEADER -->
                <nav class="tabs" data-group="primary">
                    <a class="item" data-group="primary" data-tab="descricao">{{ localize 'SPAO.Description' }}</a>
                    <a class="item" data-group="primary" data-tab="detalhes">{{ localize 'SPAO.Details' }}</a>

                </nav>


                <section class="content">

                    <!-- TABS: DESCRIÇÃO -->
                    <div class="tab" data-group="primary" data-tab="descricao">
                        {{ editor enrichedNotes target="system.description" button=true owner=owner
                        editable=editable
                        engine="prosemirror" collaborate=true }}
                    </div>

                    <!-- TABS: DETALHES -->
                    <div class="tab" data-group="primary" data-tab="detalhes">

                        <!-- DANO -->
                        <div class="item-details-section">
                            <div class="section-title">Defesa</div>

                            <!-- DANO: FORMULA -->
                            <div class="section-content">
                                <label class="section-label" title="{{ localize 'SPAO.Damage' }}">
                                    Armadura</label>
                                <div class="section-input">
                                    <input type="text" name="system.armor" id="system.armor"
                                        value="{{data.system.armor}}" data-dtype="String" placeholder="2" />
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>
</form>