<form class="spao" autocomplete="off">
    <div class="item-sheet-grid magia">
        <div class="item-sheet-grid-sections">
            <!-- Portrait -->
            <div class="item-sheet-section-portrait">
                <img class="portrait" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
            </div>

            <!-- INFORMATION -->
            <div class="item-sheet-section-info">
                <!-- Name -->
                <div class="item-sheet-section-name">
                    <input class="item-sheet-name" type="text" name="name" value="{{data.name}}"
                        placeholder="{{ localize 'SPAO.Name' }}" />
                </div>

                <div class="item-sheet-section-stats">
                    <!-- Tier -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.tier">{{ localize 'SPAO.Tier' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.currentTier" id="system.tier"
                                value="{{data.system.currentTier}}" data-dtype="Number" />
                            <span> / </span>
                            <input type="text" name="system.maxTier" id="system.maxTier" value="{{data.system.maxTier}}"
                                data-dtype="Number" />
                        </div>
                    </div>

                    <!-- Damage Dice -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" title="{{ localize 'SPAO.Damage' }}">{{ localize
                            'SPAO.Damage' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.dice.quantity" id="system.dice.quantity"
                                value="{{data.system.dice.quantity}}" data-dtype="String" style="width: 40%;" />
                            <select name="system.dice.type" class="item-sheet-skills" style="width: 60%;">
                                {{#select data.system.dice.type}}
                                <option value=""></option>
                                <option value="d2">d2</option>
                                <option value="d4">d4</option>
                                <option value="d6">d6</option>
                                <option value="d8">d8</option>
                                <option value="d10">d10</option>
                                <option value="d12">d12</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    <!-- Tradition -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.tradition">{{ localize 'SPAO.Tradition'
                            }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.tradition" id="system.tradition"
                                value="{{data.system.tradition}}" data-dtype="String" />
                        </div>
                    </div>

                    <!-- Cast Time -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.castTime">{{ localize 'SPAO.CastTime'
                            }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.castTime" id="system.castTime"
                                value="{{data.system.castTime}}" data-dtype="Number" />
                        </div>
                    </div>

                    <!-- Range -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.range">{{ localize 'SPAO.Range' }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.range" id="system.range" value="{{data.system.range}}"
                                data-dtype="Number" />
                        </div>
                    </div>

                    <!-- Targets -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.targets">{{ localize 'SPAO.Targets'
                            }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.targets" id="system.targets" value="{{data.system.targets}}"
                                data-dtype="Number" />
                        </div>
                    </div>

                    <!-- Defense -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.defense">{{ localize 'SPAO.Defense'
                            }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.defense" id="system.defense" value="{{data.system.defense}}"
                                data-dtype="String" />
                        </div>
                    </div>

                    <!-- Duration -->
                    <div class="item-resource-counter short-counter">
                        <label class="item-sheet-resource-label" for="system.duration">{{ localize 'SPAO.Duration'
                            }}</label>
                        <div class="resource-input-wrapper">
                            <input type="text" name="system.duration" id="system.duration"
                                value="{{data.system.duration}}" data-dtype="String" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="description">{{ localize 'SPAO.Description' }}</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor enrichedDescription target="system.description" button=true owner=owner editable=editable
                    engine="prosemirror" collaborate=true }}
                </div>
            </section>
        </div>
    </div>
</form>